.ts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    max-width: 400px;
}

.ts-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ts-item-btn {
    cursor: pointer;
}

.ts-item-telegram-notifications-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.ts-item-telegram-notifications-value {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.ts-item-min-pnl-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.ts-item-min-pnl-value {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ts-item-max-steps-diff-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.ts-item-max-steps-diff-value {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ts-item-autobuy-threshold-min-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.ts-item-autobuy-threshold-min-value {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ts-item-autobuy-threshold-max-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

.ts-item-autobuy-threshold-max-value {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ts-item-trading-strategy-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.ts-item-trading-strategy-value {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ts-item-trading-profile-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}

.ts-item-trading-profile-value {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ts-item-version-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
}

.ts-item-version-value {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
}